.chat {
    position: relative;
    height: 100%;
  }
  
  .header {
    display: flex;
    justify-content: space-between;
    margin: 0 30px;
    align-items: center;
    color: $purple3;
  }
  
  .deleteBtn {
    background: none;
    border: none;
    font-size: x-large;
    color: $purple3;
  }
  
  ::-webkit-scrollbar {
    display: none; /* Hide the scrollbar */
  }
  
  .chatWindow {
    height: 70%; /* Set a fixed height or use '70vh' for 70% of the viewport height */
    overflow-y: auto; /* Enable scrolling */
    margin: 0 30px;
    @include flex(flex-start,flex-start,column);
    padding: 10px;
    gap: 10px;
  
    .senderMsg,
    .recieverMsg {
        color: $white1;
        padding: 10px 20px;
        border-radius: 20px;
        margin-bottom: 0.3rem;
        max-width: 60%;
        word-wrap: break-word;
  
      
    }
  
    .senderMsg {
        align-self: flex-end;
        background-color: $purple3;
 
      }
    
      .recieverMsg {
        align-self: flex-start;
        background-color: $purple3;
      }
    
  }
  
  .emojiPicker {
    position: absolute;
    bottom: 70px;
    left: 0;
    input {
      background-color: $purple1; /* Adjust background color for the emoji picker input */
    }
  }
  
  .chatInput {
    position: absolute;
    bottom: 20px;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  