.chat {
    position: relative;
    height: 100%;
}
.header{
    display: flex;
    justify-content: space-between;
    margin-right: 7rem ;
    align-items: center;
    color: $purple3;
}
// .window{
//     h2{
//         color: $purple3;
//     }
// }
 .deleteBtn {
    background: none;
    border: none;
    cursor: pointer;
    font-size: x-large;
    color: $purple3;
  }
::-webkit-scrollbar{
    // display: none;
}
.chatWindow {
    // bottom: 0;
    @include flex(baseline, flex-end, column);
    overflow-y: scroll;
    flex: 1;

    overflow-y: auto;
    height: 70%; // or a fixed height like 80vh or 500px
    margin-right: 7rem;
    // overflow-y: auto;



    // overflow-x: hidden;
    .senderMsg,
    .recieverMsg {
        background-color: $purple3;
        padding: 10px 20px;
        width: fit-content;
        border-radius: 20px;
        margin-bottom: 0.3rem;
        // position: relative;
        max-width: 80%;
        margin: 5px 0;
        word-wrap: break-word;
    }



    .senderMsg {
        align-self: flex-end;
    }
    .recieverMsg {
        
        align-self: flex-start;  
    }
}

.emojiPicker{
position:absolute;
bottom:70px;
left:0;
input{
    background-color: $purple1;
}
}

.chatInput {
    position: absolute;
    bottom: 20px;
    left: 0;
    width: 100%;
    display: flex;
    // padding: 1rem 2rem;
    justify-content: space-between;
    align-items: center;
    // z-index: 1;
    cursor: pointer;
}
.epr_-xuzz9z{
    background-color: $purple2 !important;
}
