.list{
    @include flex(center,center,column);
    max-width: 500px;

    @if(width==500px){
        align-items:flex-start;
        // margin-left: 20px;
    }
}
hr{
    width: 90%;
    border: 1px solid $purple2;
    border-radius: 50%;
}
.searchbar{
    margin:10px 0;
    background: $white1;
    // padding: 15px;
    display: flex;
    border-radius: 30px;
    gap: 10px;
    width: 90%;
    align-items: center;


    ::placeholder{
        font-size: large;
        color: $purple3;
    
    }
    :active,:focus{
        border: none;
        outline: none;
        
    }
    input{
        border: none;
        background: none;
        padding: 15px 0;
        font-size: large;
        width: 100%;
    }
    svg{
        color: $purple3;
        font-size: 2rem;
       margin: 0 10px;
        
    }
}

.chats{
    @include flex(stretch,flex-start,row);
    gap:10px;
    width: 100%;
    background-color: $white2;
    overflow-x: hidden;
color: $purple2;
    padding: 15px 0;
    // border-radius: 30px;
    position: relative;
   
    img{
        width: 50px;
        height: 50px;
        border-radius: 50%;
        margin-left: 10px
    }
    .chatText{
        @include flex(flex-start,space-around,column);
        // text-wrap: nowrap;
        overflow-x: hidden;
        .name{
            font-weight: 700;
            font-size: 1em;
            color: $purple3;
            overflow-x: hidden;
        }
    }
    .timeList{
        position: absolute; 
        left:80%;
        top: 10%;
      color: $purple2;
        text-wrap: nowrap;
        font-size: 14px
    }
}