.userInfo {
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
}

.user {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 20px;
}
.user img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  -o-object-fit: cover;
     object-fit: cover;
  cursor: pointer;
}

.icons {
  display: flex;
  gap: 20px;
}
.icons img {
  width: 20px;
  cursor: pointer;
}

.list {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  max-width: 500px;
  border-radius: 30px;
}

hr {
  width: 90%;
  border: 1px solid #BE9FE1;
  border-radius: 50%;
}

.searchbar {
  background: #F1F1F6;
  display: flex;
  border-radius: 30px;
  gap: 10px;
  width: 100%;
  align-items: center;
}
.searchbar ::-moz-placeholder {
  font-size: large;
  color: #734c9e;
}
.searchbar ::placeholder {
  font-size: large;
  color: #734c9e;
}
.searchbar :active, .searchbar :focus {
  border: none;
  outline: none;
}
.searchbar input {
  border: none;
  background: none;
  padding: 15px 0;
  font-size: large;
  width: 100%;
}
.searchbar svg {
  color: #734c9e;
  font-size: 2rem;
  margin: 0 10px;
}

.chats {
  display: flex;
  align-items: stretch;
  justify-content: flex-start;
  flex-direction: row;
  gap: 10px;
  width: 100%;
  background-color: #E1CCEC;
  overflow-x: hidden;
  color: #BE9FE1;
  padding: 15px 0;
  position: relative;
  cursor: pointer;
}
.chats img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-left: 10px;
}
.chats .chatText {
  display: flex;
  align-items: flex-start;
  justify-content: space-around;
  flex-direction: column;
  overflow-x: hidden;
}
.chats .chatText .name {
  font-weight: 700;
  font-size: 1em;
  color: #734c9e;
  overflow-x: hidden;
}
.chats .timeList {
  position: absolute;
  left: 80%;
  top: 10%;
  color: #BE9FE1;
  text-wrap: nowrap;
  font-size: 14px;
}

.chat {
  position: fixed;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
}

.header {
  display: flex;
  justify-content: space-between;
  position: sticky;
  top: 0;
  padding: 0 20px;
  align-items: baseline;
  color: #734c9e;
  background-color: #C9B6E4;
}
.header .backBtn {
  display: none;
  cursor: pointer;
  font-size: x-large;
}
@media (max-width: 768px) {
  .header .backBtn {
    display: inline;
  }
}

.deleteBtn {
  background: none;
  border: none;
  font-size: x-large;
  color: #734c9e;
}

::-webkit-scrollbar {
  display: none;
}

.chatWindow {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
  flex: 1;
  overflow-y: auto;
  height: auto;
  margin: 20px;
}
.chatWindow .senderMsg,
.chatWindow .receiverMsg {
  background-color: #734c9e;
  padding: 10px 20px;
  border-radius: 20px;
  margin-bottom: 10px;
  color: #F1F1F6;
  width: -moz-fit-content;
  width: fit-content;
  max-width: 60%;
  word-wrap: break-word;
}
.chatWindow .senderMsg {
  align-self: flex-end;
}
.chatWindow .receiverMsg {
  align-self: flex-start;
}

.emojiPicker {
  position: absolute;
  bottom: 80px;
  left: 50%;
  transform: translateX(-50%);
}
.emojiPicker input {
  background-color: #C9B6E4;
}

.chatInput {
  position: sticky;
  bottom: 0 !important;
  display: flex;
  justify-content: center;
}

.form_main {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto;
  justify-content: center;
  background-color: #C9B6E4;
  padding: 0 40px;
  position: relative;
  overflow: hidden;
  height: 100%;
  max-width: 350px;
}

.form_main::before {
  position: absolute;
  content: "";
  width: 500px;
  height: 100%;
  background-color: #F1F1F6;
  transform: rotate(45deg);
  left: -380px;
  bottom: 30px;
  z-index: 0;
  border-radius: 30px;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.082);
}

.heading {
  font-size: 2em;
  color: #2e2e2e;
  font-weight: 700;
  margin: 5px 0 10px 0;
  z-index: 2;
}

.inputContainer {
  width: 100%;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 2;
}

.inputIcon {
  position: absolute;
  left: 3px;
}

.inputField {
  width: 100%;
  height: 30px;
  background-color: transparent;
  border: none;
  border-bottom: 2px solid rgb(173, 173, 173);
  margin: 10px 0;
  color: black;
  font-size: 0.8em;
  font-weight: 500;
  box-sizing: border-box;
  padding-left: 30px;
}

.inputField::-moz-placeholder {
  color: rgb(80, 80, 80);
  font-size: 1em;
  font-weight: 500;
}

.inputField::placeholder {
  color: rgb(80, 80, 80);
  font-size: 1em;
  font-weight: 500;
}

.inputField:focus {
  outline: none;
  border: none;
  border-bottom: 2px solid rgb(199, 114, 255);
}

#button {
  z-index: 0;
  position: relative;
  width: 100%;
  border: none;
  background-color: rgb(162, 104, 255);
  border-radius: 5px;
  height: 30px;
  color: white;
  font-size: 0.8em;
  font-weight: 500;
  letter-spacing: 1px;
  margin: 10px;
  cursor: pointer;
}

#button:hover {
  background-color: #734c9e;
}

.forgotLink {
  z-index: 0;
  font-size: 0.7em;
  font-weight: 500;
  color: rgb(44, 24, 128);
  text-decoration: none;
  padding: 8px 15px;
  border-radius: 20px;
}

.label {
  width: 100%;
  height: 30px;
  background-color: transparent;
  border: none;
  margin: auto;
  color: rgb(80, 80, 80);
  font-size: 1em;
  font-weight: 400;
  cursor: pointer;
  box-sizing: border-box;
  padding-left: 40px;
}

.avatar {
  border-radius: 50%;
  -o-object-fit: cover;
     object-fit: cover;
}

.spinner {
  background-image: linear-gradient(rgb(186, 66, 255) 35%, rgb(0, 225, 255));
  width: 100px;
  height: 100px;
  animation: spinning82341 1.7s linear infinite;
  text-align: center;
  border-radius: 50px;
  filter: blur(1px);
  z-index: 999;
  box-shadow: 0px -5px 20px 0px rgb(186, 66, 255), 0px 5px 20px 0px rgb(0, 225, 255);
}

.loader {
  align-items: center;
}

.spinner1 {
  background-color: #F1F1F6;
  width: 100px;
  height: 100px;
  border-radius: 50px;
  filter: blur(10px);
}

@keyframes spinning82341 {
  to {
    transform: rotate(360deg);
  }
}
.container {
  background: #C9B6E4;
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: space-between;
  justify-content: center;
  flex-direction: column;
  color: #F1F1F6;
  scroll-behavior: smooth;
}

@media (max-width: 768px) {
  .hidden {
    display: none !important;
  }
}

.inner {
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-template-rows: 1fr;
  grid-column-gap: 20px;
  grid-row-gap: 0px;
  background-color: #E1CCEC;
  width: 100%;
  height: 90%;
  border-radius: 30px 30px 0 0;
  border-bottom: none;
}
@media (max-width: 768px) {
  .inner {
    display: flex;
    flex-direction: column;
    height: 100%;
  }
}
.inner .text {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: auto;
  color: #734c9e;
}
.inner.chat-visible .right {
  display: block;
  width: 100%;
}

@media (max-width: 768px) {
  .chat-visible .left {
    display: none;
  }
}

button {
  cursor: pointer;
}

.left {
  width: 100%;
  grid-area: 1/1/2/2;
}

.right {
  grid-area: 1/2/2/3;
}
@media (max-width: 768px) {
  .right {
    width: 100%;
    height: 100%;
  }
}/*# sourceMappingURL=App.css.map */