.userInfo {
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
}

.user {
  display: flex;
  align-items: center;
  gap: 20px;
}
.user img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  -o-object-fit: cover;
     object-fit: cover;
  cursor: pointer;
}

.icons {
  display: flex;
  gap: 20px;
}
.icons img {
  width: 20px;
  cursor: pointer;
}

.list {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  max-width: 500px;
}
.list hr {
  width: 90%;
  border: 1px solid #BE9FE1;
  border-radius: 50%;
}

.searchbar {
  margin: 10px 0;
  background: #F1F1F6;
  display: flex;
  border-radius: 30px;
  gap: 10px;
  width: 90%;
  align-items: center;
}
.searchbar ::-moz-placeholder {
  font-size: large;
  color: #734c9e;
}
.searchbar ::placeholder {
  font-size: large;
  color: #734c9e;
}
.searchbar :active, .searchbar :focus {
  border: none;
  outline: none;
}
.searchbar input {
  border: none;
  background: none;
  padding: 15px 0;
  font-size: large;
  width: 100%;
}
.searchbar svg {
  color: #734c9e;
  font-size: 2rem;
  margin: 0 10px;
}

.chats {
  display: flex;
  align-items: stretch;
  justify-content: flex-start;
  flex-direction: row;
  gap: 10px;
  width: 100%;
  background-color: #E1CCEC;
  overflow-x: hidden;
  color: #BE9FE1;
  padding: 15px 0;
  position: relative;
}
.chats img {
  width: 50px;
  border-radius: 50%;
  margin-left: 10px;
}
.chats .chatText {
  display: flex;
  align-items: flex-start;
  justify-content: space-around;
  flex-direction: column;
  overflow-x: hidden;
}
.chats .chatText .name {
  font-weight: 700;
  font-size: 1em;
  color: #734c9e;
  overflow-x: hidden;
}
.chats .timeList {
  position: absolute;
  left: 80%;
  top: 10%;
  color: #BE9FE1;
  text-wrap: nowrap;
  font-size: 14px;
}

.chat {
  position: relative;
  height: 100%;
}

.window h2 {
  color: #734c9e;
}

.chatWindow {
  display: flex;
  align-items: baseline;
  justify-content: flex-end;
  flex-direction: column;
  margin-right: 3rem;
}
.chatWindow .senderMsg,
.chatWindow .recieverMsg {
  background-color: #734c9e;
  padding: 10px 20px;
  width: -moz-fit-content;
  width: fit-content;
  border-radius: 20px;
  margin-bottom: 0.3rem;
  position: relative;
}
.chatWindow .senderMsg {
  align-self: flex-start;
}
.chatWindow .recieverMsg {
  align-self: flex-end;
}

.emojiPicker {
  position: absolute;
  bottom: 70px;
  left: 0;
}

.chatInput {
  position: absolute;
  bottom: 20px;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
}

.container {
  background: linear-gradient(#BE9FE1, #C9B6E4);
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: space-between;
  justify-content: center;
  flex-direction: column;
  color: #F1F1F6;
}

.inner {
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-template-rows: 1fr;
  grid-column-gap: 20px;
  grid-row-gap: 0px;
  background-color: #E1CCEC;
  width: 100%;
  height: 90%;
  border-radius: 20px;
}

.left {
  grid-area: 1/1/2/2;
}

.right {
  grid-area: 1/2/2/3;
}/*# sourceMappingURL=App.css.map */