$white1: #F1F1F6;
$white2: #E1CCEC;
$purple1: #C9B6E4;
$purple2: #BE9FE1;
$purple3: #734c9e;
$extra: #EECEB9;

@import "./Components/_user.scss";
@import "./Components/_chatlist.scss";
@import "./Components/_chat.scss";
@import "./Components/_login.scss";
@import "./Components/_loader.scss";

$liner-grad: linear-gradient($purple2, $purple1);

.container {
  background: $purple1;
  width: 100%;
  height: 100vh;
  @include flex(space-between, center, column);
  color: $white1;
  scroll-behavior: smooth ;
}
.hidden{
  @media (max-width: 768px) {
display: none !important;
  }

}
.inner {
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-template-rows: 1fr;
  grid-column-gap: 20px;
  grid-row-gap: 0px;
  background-color: $white2;
  width: 100%;
  height: 90%;
  border-radius: 30px 30px 0 0;
  border-bottom: none;
  @media (max-width: 768px) {
    display: flex;
    flex-direction: column;
    height: 100%;

  }

  .text{
    @include flex(center, center, column);
    height: auto;
    color: $purple3;
  }
  &.chat-visible .right {
    display: block;
    width: 100%;
  }
}
.chat-visible .left{
  @media (max-width: 768px) {
  display: none;
}
}

button {
  cursor: pointer;
}

.left {
  width: 100%;
  grid-area: 1 / 1 / 2 / 2;

}

.right {
  grid-area: 1 / 2 / 2 / 3;

  @media (max-width: 768px) {
    width: 100%;
    height: 100%;
    // display: none;
  }
}
